@model LogInViewModel
<div style = 'display:flex; position:absolute; top:0; bottom:0; right:0; left:0; '>
    <div style="margin:auto">
        <form asp-action="LogIn" asp-controller="LogIn">
            <div class="form-group">
                <label asp-for="Email">Имейл</label>
                <br />
                <span asp-validation-for="Email"></span>

                <input asp-for="Email">
            </div>
            <div class="form-group">
                <label asp-for="Password">Парола</label>
                <br />
                <span asp-validation-for="Password"></span>

                <input asp-for="Password">
            </div>
            <div class="form-group">
                <a asp-action="Register" asp-controller="LogIn">Регистрирай се</a>
            </div>
            <button type="submit" class="btn btn-primary">Вход</button>
        </form>
    </div>
    
</div>
    


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
